<div class="list-group">
    <a href="#{{Sitemap.eLearning.url}}" class="list-group-item active">{{Sitemap.eLearning.heading}} <i class="fa fa-{{Sitemap.eLearning.faIcon}}"></i></a>
    <a href="#{{Sitemap.eBooks.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.eBooks.faIcon}}"></i> {{Sitemap.eBooks.heading}}</a>
    <a href="#{{Sitemap.Tutorials.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Tutorials.faIcon}}"></i> {{Sitemap.Tutorials.heading}}</a>
    <a href="#{{Sitemap.Videos.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Videos.faIcon}}"></i> {{Sitemap.Videos.heading}}</a>
    <a href="#{{Sitemap.FlashCards.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.FlashCards.faIcon}}"></i> {{Sitemap.FlashCards.heading}}</a>
</div>

