body {
  padding-top: 50px;
  padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

.alignc{
    text-align: center !important;
}

.alignj{
    text-align: justify !important;
}
/* Footer Styles - Start*/
footer {
padding-left: 15px;
padding-right: 15px;
text-align: center;
padding: 30px 0;
margin-top: 0px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}
.footer p {
margin-bottom: 0;
color: #777;
}
.footer-social-links {
margin: 10px 0;

}
.footer-social-links li:first-child {
padding-left: 0;
}
.footer-social-links li {
display: inline;
padding: 0 2px;
}
.footer-social-links li a{
    text-decoration: none !important;
}
#footer {
	margin-bottom: 20px;
}

#footer .links a {
	margin-right: 10px;
}
/* Footer Styles - End*/

/*Sitemap - Start*/
.psitemap {
  /* dropdown in accordion */ 

}
.psitemap .accordion-heading {
    position: relative; }
.psitemap .accordion-heading .edit {
      position: absolute;
      top: 8px;
      right: 30px; }
.psitemap .psitemapL0 {
    border-left: 4px solid #f38787; }
.psitemap .psitemapL1 {
    border-left: 4px solid #65c465; }
.psitemap .psitemapL2 {
    border-left: 4px solid #98b3fa; }
.psitemap .collapse.in {
    overflow: visible; }
.psitemap .accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}
/*Sitemap - End*/





