<div class="container">
     
                <p><b>PBDesk | Github <i class="fa fa-github"></i></b> - Hosted as Github Pages</p>
                <p>Concept perceived, designed and developed by <a href="https://plus.google.com/116495447274977757345?rel=author"><b>Pinal Bhatt</b></a>.</p>
                <p>My Website: <b><a target="_blank" href="http://www.PBDesk.com">PBDesk.com</a> - </b> From the desk of Pinal Bhatt.</p>
                <p>My Blog: <b><a target="_blank" href="http://blog.PBDesk.com">Pinal Bhatt's Blog</a> - </b> Learning endeavor for ever....</p>
                <p>&nbsp;</p>
                <p>Follow Me At</p>
                <ul class="footer-social-links">
                    <li>                        
                        <a href="http://twitter.com/PBDesk" target="_blank" title="Twitter: follow me  @PBDesk">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/Go.PBDesk" target="_blank" title="Facebook.com/Go.PBDesk">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Pbdesk" target="_blank" title="Google +PBDesk">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/pinalbhatt" target="_blank" title="LinkedIN">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/pbdesk" target="_blank" title="Github">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>