<div class="list-group">
    <a href="#{{Sitemap.Tutorials.url}}" class="list-group-item active">{{Sitemap.Tutorials.heading}} <i class="fa fa-{{Sitemap.Tutorials.faIcon}}"></i></a>
    <a href="#{{Sitemap.Tutorials_Catalog.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Tutorials_Catalog.faIcon}}"></i> {{Sitemap.Tutorials_Catalog.subHeading}}</a>
    <a href="#{{Sitemap.Tutorials_ByTag.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Tutorials_ByTag.faIcon}}"></i> {{Sitemap.Tutorials_ByTag.subHeading}}</a>
    <a href="#{{Sitemap.Tutorials_Featured.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Tutorials_Featured.faIcon}}"></i> {{Sitemap.Tutorials_Featured.subHeading}}</a>
    <a href="#{{Sitemap.Tutorials_New.url}}" class="list-group-item"> <i class="fa fa-{{Sitemap.Tutorials_New.faIcon}}"></i> {{Sitemap.Tutorials_New.subHeading}}</a>
</div>

